#about a{
    color:#889;
}
#about a:hover {
    cursor:pointer;
    color:#0087ff;
}
.bio{
    max-width:25em;
}
.bio .img{
    max-width:50%;
}
.bio .copy{
    font-size:.8em;
}
.bio .byline{
    font-size:1.25em;
}
.profile_content{
    max-width:30em;
    margin-left:auto;
    margin-right:auto;
}
.program_content{
    width:30em;
    margin-left:auto;
    margin-right:auto;
}
#sidebar{
    float:left;
    max-width:15em;
    margin-right:1em;
}
#contents{
    float:left;
    width:30em;
}

