#news_content{
    width:30em;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
}
label{
    font-family:'Palatino','Palatino Lynotype','Georgia', serif;
    font-size:.8em;
    font-style:italic;
}
input{
    width:100%;
    font-size:.8em;
}
textarea{
    width:100%;
    height:5em;
    font-size:.8em;
}
fieldset{
    margin-top:1em;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    padding:1em;
    margin-left:auto;
    margin-right:auto;
}
#text_input, #mail_input{
    margin-top:.5em;
}
#submit{
margin-top:1em;
width:auto;
}
#comments{
    font-size:.8em;
color:#555;
width:30em;
margin-left:auto;
margin-right:auto;
}
.comment{
    background-color:#fafafa;
    padding:.5em 1em;
    margin-bottom:.5em;
}
.comment .copy{
    margin:.5em 0em;
}
#comments .logo{
    margin:.5em 0em;
    color:#555;
}
#email_input{
    display:none;
}
.errorlist{
    color:#7E31B5;
}
