#community a{
    color:#889;
}
#community a:hover {
    cursor:pointer;
    color:#0087ff;
}
.classified{
    max-width:14em;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
}
.classifieds img{
    width:16em;
    margin-top:1em;
    float:none;
}
.event{
    margin-top:1em;
}
.blot{
    margin-top:1em;
}
.thin{
    width:30em;
    margin-left:auto;
    margin-right:auto;
}
.add{
    float:right;
}
.lcol .list{
}
.main{
    margin-bottom:1em;
}
