.pagination{
    font-style:italic;
    font-size:.7em;
}
.right{
    float:right;
    margin-left:.5em;
}
.button a:hover {
    color:#00f;
}
.left{
    float:left;
    margin-right:.5em;
}
.page{
    text-align:center;
    width:6em;
    margin-left:auto;
    margin-right:auto;
}
.page{
    color:#7e31b5;
}
