#schedule{
    font-size:.6em;
    border-spacing:0em;
    width:100%;
    border-right:1px solid #7e31b5;
    border-bottom:1px solid #7e31b5;
}
.program, .blank{
    vertical-align:top;
    border-left:1px solid #aaa;
}
.program{
    border-top:1px solid #aaa;
}
td.time{
    border-left:none;
    vertical-align:top;
}
.byline{
    font-size:1em;
}
