<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta property="fb:app_id" content = "281761862002711" />
<link rel="icon" href="/media/favicon_32.ico" sizes="32x32">
<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href= "/media/css/base_v1.03.css" />
    <script type="text/javascript" src="/media/audio-player/audio-player.js"></script>
    <script type="text/javascript">  
    AudioPlayer.setup("/media/audio-player/player.swf", {  
        width: 290,  
        initialvolume: 100,  
        transparentpagebg: "yes",  
        left: "0087FF",  
        lefticon: "0087FF",
        loader: "0087FF" 
    });  
    </script>

    {% block css %}
    {% endblock %}

    <title>{% block title %}Unalaska Community Broadcasting | Your Voice in the Aleutians{% endblock %}</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30492628-1']);
  _gaq.push(['_setSiteSpeedSampleRate', 100]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>

    {% block topbody %}
    {% endblock %}

    <div class="center" id=all>

    <div class="center" id="header">
        {% block header %}
        <span class=logo id=main><a href="http://kucb.org">kucb</a></span>
        <div id=nav_bar>
        <ul class=horz>
            <li class="logo cell first" id=news><a href="http://kucb.org/topic/local-news">news</a></li>
            <li class="logo cell" id=community><a href="http://kucb.org/community">community</a></li>
            <li class="logo cell" id=about><a href="http://kucb.org/about-us">about</a></li>
            <li class="logo cell" id=donate><a href="https://webpledge.coastalaska.org/alleg/WebModule/Donate.aspx?P=72WEB&PAGETYPE=PLG&CHECK=k6DnQ4ptlD3iQl%2byqVkEd4HJipnY8PNT" target="_blank">donate</a></li>
        </ul>
            <hr class=center id=logo_hbar />
       <div class="logo tagline">Unalaska Community Broadcasting - KUCB 89.7 FM - Channel 8</div>
        </div>
        <img id=islands src="/media/islands.png" />
        <div class=search>
            <script>
                (function() {
                var cx = '000255827089798599938:z8pw2htrpsa';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:search></gcse:search>
        </div>
        {% endblock %}
    </div>
    <div class="base_content">
        {% block content %}
        {% endblock %}
    <hr />
    </div>
    <div class="logo footer tagline"><div class=left><a href="http://www.facebook.com/KUCB.Unalaska" target="_blank"><img src="/media/facebook_icon.png" /></a> connect <a href="https://twitter.com/KUCBNews" target="_blank"><img src="/media/twitter.png" /></a></div> Unalaska Community Broadcasting - KUCB 89.7 FM - Channel 8 <div class=right><a href="/media/kucb.pls" target="_blank"><img src="/media/itunes.png" /></a> listen <a href="/media/kucb.m3u" target="_blank"><img src="/media/wmp.png" /></a></div></div>
            <div class=siteby style="text-align:center; font-size:8px; line-height:10px;"><a target="_blank" href="/news/">News</a> <a target="_blank" href="/community/">Community</a> <a target="_blank" href="/about/">About</a> Site by <a target="_blank" href="http://www.pjreddie.com">Joseph Redmon</a></div>
    </div>
</body>
</html>
