Below are the minimum system requirements which your systemm must pocess in order to ren the software . Enjoy it!
Django==1.4.2
Pillow
South==0.7.6
django-tinymce==1.5.1b2
feedparser==5.1.3
requests==2.1.0
wsgiref==0.1.2
